a {
    color: green;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

div {
    background-color: lightblue;
}

h1 {
    color: white;
}

h2 {
    color: blue;
}

.doctor {
    color: orange;
}

h3 {
    background-color: yellow;
}

.nobody {
    color: red;
}

h4 {
    color: yellow;
    background-color: darkgreen;
}

.art {
    background-color: lightgreen;
}

h5 {
    color: red;
}

.planet {
    background-color: yellow;
}